<html>
<head>
    <title>Django Blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Blog</a></h1>
    </div>

    <div>
        <p>published:14.06.2017, 12:59</p>
        <h2><a href="">Pierwszy post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo,
            tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.06.2017, 12:49</p>
        <h2><a href="">Drugi post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo,
            tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus.</p>
    </div>
</body>
</html>